<% @article.comments.each do |comment| %>
  <% unless @articl.archived? %>
    <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>

    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
  <% end %>
<% end %>