<table class="table">
  <thead class="thead=dark">
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= product.code %></td>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
    </tr>
  </tbody>
</table>
