<p style="color: green"><%= notice %></p>

<!-- <h1>Listing Products</h1> -->

<div id="products">
  <table class="table">
    <thead class="thead=dark">
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <%= render product %>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New product", new_product_path %>
