<div id="<%= dom_id sale %>">
  <p>
    <strong>Name:</strong>
    <%= sale.name %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= sale.total %>
  </p>

  <p>
    <strong>User:</strong>
    <%= sale.user_id %>
  </p>

</div>
