<table class="table">
  <thead class="thead=dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= sale.name %></td>
      <td><%= sale.total %></td>
    </tr>
  </tbody>
</table>
